<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="shopname">Shop Name</label>
          <input #shopname="ngModel" [(ngModel)]="shop.name" name="shopname" type="text" id="shopname" class="form-control" required>
          <div class="alert alert-danger" *ngIf="shopname.touched && shopname.invalid">
           Shop Name is required.
            </div>
          </div>
      <div class="form-group">
        <label for="location">Location</label>
          <input #location="ngModel" [(ngModel)]="shop.location" name="location" type="text" id="location" class="form-control" required>
           <div class="alert alert-danger" *ngIf="location.touched && location.invalid">
            Location is required
            </div>
        </div>
      <div class="form-group">
        <label for="zipcode">code</label>
         <input #zipcode="ngModel" [(ngModel)]="shop.zipcode" name="zipcode" type="text" id="zipcode" class="form-control" required>
           <div class="alert alert-danger" *ngIf="zipcode.touched && zipcode.invalid">
            Zipcode is required
            </div>
      </div>
      <button class="btn btn-primary">Save</button>
      <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
